@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  :root {
    background-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: black;
  }
}
.degradado{
  background: linear-gradient(247deg, rgba(9,87,89,1) 0%, rgba(20,186,191,1) 100%);

}